<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Relatorio Diario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-list>
    <ion-item>
      <ion-label> Senhas Totais Atendidas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Senhas Prioritarias atendidas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Senhas Gerais Atendidas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Senhas para exames atendidas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Quantidade de Senhas Emitidas</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
